<div *ngIf="gridLoading" class="grid-loader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <h1>Loading...</h1>
</div>
<gridster *ngIf="(layout && layout.length > 0) && !gridLoading" [options]="options" >
    <gridster-item *ngFor="let item of layout" [item]="item.gridPosition">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <h4>{{item.title}}</h4>
                </div>
                <div class="card-content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
                    <button class="btn btn-primary btn-delete" (click)="gridService.deleteItem(item.gridPosition.id)"
                            title="Remove this box">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <dashboard-item-content
                            [rows]="item.gridPosition.rows"
                            [config]="item.config"
                            [content]="item"
                            (editBox)="editBoxWithInit($event)"
                            ></dashboard-item-content>
                </div>
            </div>
        </div>
    </gridster-item>
</gridster>
<button (click)="saveGrid()" class="btn btn-save btn-primary" title="Save changes (alt+s)" [innerHTML]="saveBtnIcon">
</button>
<button (click)="showAddBoxDialog()" class="btn btn-add btn-primary" title="Add new box (alt+n)">
    <i class="fa fa-plus"></i>
</button>
<dashboard-item-edit [show]="boxEditShown" [initData]="editData" (settings)="addBox($event)" (editCancelled)="cancelEdit()"></dashboard-item-edit>
