<div>
    <h3 *ngIf="loaded && checkNoData()">No data</h3>
    <div *ngIf="!loaded">

        <h1>Loading...</h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw mt-1"></i>
    </div>
    <div *ngIf="loaded">
        <h3 *ngIf="config.viewType == 3">
            {{chartData}}
        </h3>
        <div *ngIf="loaded && (config.viewType == 0 || config.viewType == 1)">
            <canvas
                    baseChart
                    [datasets]="chartData"
                    [labels]="labels"
                    [chartType]="typeToChartType(config.viewType)"
                    [legend]="true"
                    [options]="chartOptions">
            </canvas>
        </div>

        <div *ngIf="config.viewType == 2">
            <table class="table table-hover">
                <thead *ngIf="rows > 1">
                    <tr>
                        <th>Detect time</th>
                        <th>Category</th>
                        <th>Flow count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alert of chartData">
                        <td>{{alert['DetectTime']}}</td>
                        <td>{{alert['Category']}}</td>
                        <td>{{alert['FlowCount']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <p>{{config?.description}}</p>
    <button (click)="editBoxData()" class="btn btn-primary btn-edit" title="Edit box"><i class="fa fa-pencil"></i>
    </button>
</div>
