<div class="popup-wrapper" *ngIf="show">
    <div class="popup-content-wrapper">
        <div class="popup-header">
            <h1>Edit box "{{config.title}}"</h1>
        </div>
        <div class="popup-content">
            <label for="boxName" class="lrg-form-label">Box name</label><br>
            <input class="lrg-form-input" type="text" placeholder="box name"
                   id="boxName" autofocus [(ngModel)]="config.title"><br>
            <label for="boxType" class="lrg-form-label">Type of view</label><br>
            <select class="lrg-form-input" id="boxType" [(ngModel)]="config.viewType">
                <option selected disabled value="-1">Type of view</option>
                <option value="0">Barchart</option>
                <option value="1">Piechart</option>
                <option value="2">Top</option>
                <option value="3">Sum</option>
            </select><br>
            <label for="boxTimeWindow" class="lrg-form-label">Time window [hours]</label><br>
            <input type="number" id="boxTimeWindow" placeholder="Time window" class="lrg-form-input"
                   [(ngModel)]="config.timeWindow">
            <br>
            <div *ngIf="config.viewType == 0">
                <label for="boxAggregation" class="lrg-form-label">Aggregation [minutes]</label><br>
                <input type="number" id="boxAggregation" placeholder="Aggregation" class="lrg-form-input"
                       [(ngModel)]="config.aggregation">
            </div>
            <br>
            <div *ngIf="config.viewType != 2 && config.viewType != 1">
                <label for="category" class="lrg-form-label">Category</label><br>
                <select class="lrg-form-input" [(ngModel)]="config.category" id="category">
                    <option *ngFor="let category of categories">{{category}}</option>
                </select><br>
            </div>
            <div *ngIf="config.viewType == 0">
                <label for="countSelect">Y axis value</label><br>
                <select class="lrg-form-input" id="countSelect" [(ngModel)]="config.flowCount">
                    <option value="false">Alert count</option>
                    <option value="true">Flow count</option>
                </select><br>
            </div>

            <label for="boxDescription" class="lrg-form-label">Box description</label><br>
            <input type="text" id="boxDescription" placeholder="Box description" [(ngModel)]="config.description"
                   class="lrg-form-input"><br>
        </div>
        <div class="popup-toolbox">
            <button (click)="cancelEdit()" class="btn btn-danger mr-5">Cancel</button>
            <button (click)="saveChanges()" class="btn-secondary btn">Save</button>
        </div>
    </div>
</div>
