@import "../../../frontend/node_modules/chartist/dist/scss/settings/chartist-settings";
@import "colors";

$ct-text-color: $colorText;
$ct-grid-color: $colorText;
$ct-series-colors: (
        #d70206,
        #f05b4f,
        #f4c63d,
        #d17905,
        #59922b,
        #6b0392,
        #453d3f,
        #f05b4f,
        #dda458,
        #eacf7d,
        #86797d,
        #0544d3,
        #b2c326,
        #6188e2,
        #a748ca
);

@import "../../../frontend/node_modules/chartist/dist/scss/chartist";
