@import "colors";

$confirmed-bg:        #b5f1a7;
$confirm:             #91dc5a;
$false-positive-bg:   #fbc0c0;
$reject:              #d80128;

$decided-text-color:  #000; /* Text color in table on confirmed and false positive items
                                Should be easily visible on */

