<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Nemea Alerts</h1>
        </div>
    </div>
    <div class="box d-flex flex-row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h4 class="card-title">Filter</h4>
                    </div>
                    <div class="card-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="box d-flex flex-row">
        <div class="table-responsive">
            <alert-table [alertTable]="alertTable"></alert-table>
        </div>
    </section>
</div>
