<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Nemea Alerts</h1>
        </div>
    </div>
    <div class="box d-flex flex-row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h4 class="card-title">Filter</h4>
                    </div>
                    <div class="card-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="box d-flex flex-row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Source</th>
                    <th>Target</th>
                    <th>Flows</th>
                    <th>Status</th>
                    <th>Quick actions</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>05/06/2019 09:46:41</td>
                    <td>Attempt.Login</td>
                    <td>250.132.150.182</td>
                    <td>N/A</td>
                    <td>31</td>
                    <td></td>
                    <td><i class="fa fa-search-plus quick-action-btn" aria-hidden="true"></i>
                        <i class="fa fa-check quick-action-btn confirm" aria-hidden="true"></i>
                        <i class="fa fa-times quick-action-btn reject" aria-hidden="true"></i>

                    </td>
                    <td><a class="btn btn-secondary">Show related flows</a></td>
                </tr>
                <tr class="confirmed">
                    <td>05/06/2019 09:46:41</td>
                    <td>Attempt.Login</td>
                    <td>250.132.150.182</td>
                    <td>N/A</td>
                    <td>31</td>
                    <td></td>
                    <td><i class="fa fa-search-plus quick-action-btn" aria-hidden="true"></i>
                    </td>
                    <td><a class="btn btn-secondary">Show related flows</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
