<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Nemea Alerts</h1>
        </div>
    </div>
    <div class="box row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h4 class="card-title">Filter</h4>
                    </div>
                    <div class="card-content pb-0">
                        <filter (filterChanged)="setFilter($event)"></filter>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="box m-0 mb-2 mt-2">
        <div class="row mb-3">
            <div class="col-sm-12 col-md-3">
                <label for="perPageSelect">Limit:</label>
                <select (change)="onPerPageChanged($event.target.value)" id="perPageSelect">
                    <option value="1">1 per page</option>
                    <option selected value="10">10 per page</option>
                    <option value="20">20 per page</option>
                    <option value="50">50 per page</option>
                    <option value="100">100 per page</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-3">
                <label for="statusSelect">Status:</label>
                <select (change)="onStatusChanged($event.target.value)" id="statusSelect">
                    <option selected value="all">All</option>
                    <option value="0">Undecided</option>
                    <option value="1">Confirmed</option>
                    <option value="2">False positive</option>
                    <option value="3">New</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="actionSelect">On selected perform:</label>
                <select [(ngModel)]="selectedAction" id="actionSelect">
                    <option selected value="confirm">Set as confirmed</option>
                    <option value="false-positive">Set as false positive</option>
                    <option value="delete">Delete</option>
                </select>
                <button class="btn btn-primary ml-1" (click)="applyMassOperation()">Apply operation</button>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <alert-table
                            [alertTable]="alertTable"
                            [loading]="loading"
                            (selectedItemsChanged)="updateSelectedAlertList($event)"
                            (removeAlertEvent)="deleteSingleAlert($event)"></alert-table>
                </div>
            </div>
        </div>


    </section>
    <section class="row m-0 mt-2 mb-2">
        <div class="col-sm-12 p-0">
            <lgui-pagination (goPage)="goToPage($event)"
                             (goNext)="onNext()"
                             (goPrev)="onPrev()"
                             [page]="page"
                             [itemsPerPage]="pageSize"
                             [itemCount]="itemCount"
                             [loading]="loading"></lgui-pagination>
        </div>

    </section>

</div>
