@import "../colors";
@import "../alerts-colors";

.confirmed {
  background: $confirmed-bg;
  &:hover {
    background: darken($confirmed-bg, 10%);
  }
}
.false-positive {
  background: $false-positive-bg;
  &:hover {
    background: darken($false-positive-bg, 10%);
  }
}
.new-alert {
  font-weight: bold;
}
.alert-table-row {
  transition: background ease-in-out 50ms;
}

.quick-action-btn {
  cursor: pointer;
  font-size: 1.5em;
  margin-right: .5em;
  margin-left: .5em;
  transition: all ease-in-out 250ms;
  &:hover {
    color: rgba(0, 0, 0, .5);
  }
  &.confirm {
    color: $confirm;
    &:hover {
      color: transparentize($confirm, .3);
    }
  }
  &.reject {
    color: $reject;
    &:hover {
      color: transparentize($reject, .3);
    }
  }
}
.nerd-link {
  max-width: 20px;
  height: auto;
  margin-left: 1em;
}
