<table class="table table-hover">
    <thead>
    <tr>
        <th><input type="checkbox" [(ngModel)]="checkAll" (click)="toggleAll(checkAll)"></th>
        <th>Date</th>
        <th>Category</th>
        <th>Source</th>
        <th>Target</th>
        <th>Flows</th>
        <th>Status</th>
        <th>Quick actions</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let alertItem of alertTable"
        [class.confirmed]="alertItem.Status == 1"
        [class.false-positive]="alertItem.Status == 2"
        [class.new-alert]="alertItem.Status == 3">
        <td><input type="checkbox" (change)="toggleCheckedId($event)" [value]="alertItem.ID" [ngModel]="checkAll"></td>
        <td>{{alertItem.DetectTime || 'N/A'}}</td> <!-- date -->
        <td *ngIf="alertItem.Category">{{alertItem.Category[0]}}</td> <!-- category -->
        <td *ngIf="!alertItem.Category">N/A</td>
        <td>{{alertItem.Source || 'N/A'}}</td> <!-- source -->
        <td [innerHTML]="createTargetString(alertItem.Target)"></td> <!-- target -->
        <td>{{alertItem.FlowCount || 'N/A'}}</td> <!-- flows -->
        <td>{{alertTypeToString(alertItem.Status) || 'N/A'}}</td> <!-- status -->
        <td><i class="fa fa-search-plus quick-action-btn" aria-hidden="true"></i>
            <i *ngIf="alertItem.Status == 0 || alertItem.Status == 3" class="fa fa-check quick-action-btn confirm"
               aria-hidden="true"
               (click)="setStatus(alertItem.ID, 1)"></i>
            <i *ngIf="alertItem.Status == 0 || alertItem.Status == 3" class="fa fa-times quick-action-btn reject"
               aria-hidden="true"
               (click)="setStatus(alertItem.ID, 2)"></i>
        </td>
        <td><a class="btn btn-secondary" href="#">Show related flows</a></td>
    </tr>
    </tbody>
</table>
