<table *ngIf="alertTable || alertTable.length > 0" class="table table-hover">
    <thead>
    <tr>
        <th><input type="checkbox" [(ngModel)]="checkAll" (click)="toggleAll(checkAll)"></th>
        <th>Date</th>
        <th>Category</th>
        <th>Source</th>
        <th>Target</th>
        <th>Flows</th>
        <th>Status</th>
        <th>Quick actions</th>
        <th class="text-right"><i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading" title="Loading..."></i></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let alertItem of alertTable"
        [class.confirmed]="alertItem.Status == 0"
        [class.false-positive]="alertItem.Status == 1"
        [class.new-alert]="alertItem.New"
        class="alert-table-row">
        <td><input type="checkbox" (change)="toggleCheckedId($event)" [value]="alertItem.ID" [ngModel]="checkAll"></td>
        <td>{{alertItem.DetectTime || 'N/A'}}</td> <!-- date -->
        <td *ngIf="alertItem.Category">{{alertItem.Category[0]}}</td> <!-- category -->
        <td *ngIf="!alertItem.Category">N/A</td>
        <td [innerHTML]="createIpListHtml(alertItem.Source)"></td>
        <!-- source -->
        <td [innerHTML]="createIpListHtml(alertItem.Target)"></td> <!-- target -->
        <td>{{alertItem.FlowCount || 'N/A'}}</td> <!-- flows -->
        <td>{{alertTypeToString(alertItem.Status) || 'N/A'}} <span class="new-badge" *ngIf="alertItem.New">New</span></td> <!-- status -->
        <td><i *ngIf="detailLoading != alertItem.ID" class="fa fa-search-plus quick-action-btn " title="View detail" aria-hidden="true"
               (click)="loadAlertDetail(alertItem.ID)"></i>
            <i class="fa fa-spinner fa-pulse fa-fw quick-action-btn" *ngIf="detailLoading == alertItem.ID"></i>
            <span class="sr-only" *ngIf="detailLoading == alertItem.ID">Loading...</span>
            <i title="Set as confirmed" *ngIf="alertItem.Status != 0 && alertItem.Status != 1"
               class="fa fa-check quick-action-btn confirm"
               aria-hidden="true"
               (click)="setAlertType(alertItem.ID, 0)"></i>
            <i title="Set as false positive" *ngIf="alertItem.Status != 0 && alertItem.Status != 1"
               class="fa fa-times quick-action-btn reject"
               aria-hidden="true"
               (click)="setAlertType(alertItem.ID, 1)"></i>
        </td>
        <td><a class="btn btn-secondary" href="#">Show related flows</a></td>
    </tr>
    </tbody>
</table>
<alert-detail [alertDetail]="alertDetail"
              (alertDetailClosed)="closeAlertDetail()"
              (setSelectedAlertType)="setSelectedAlertType($event)"
              (removeAlertEvent)="removeSingleAlert()"></alert-detail>
<h1 class="text-center" *ngIf="(!alertTable || alertTable.length == 0) && !loading">No alerts found.</h1>
<h1 class="text-center" *ngIf="(!alertTable || alertTable.length == 0) && loading"><i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading" title="Loading..."></i></h1>
