@import "../colors";
@import "../alerts-colors";
@import "../shared-styles/popups";


.nerd-link {
  max-width: 1em;
  height: auto;
  margin-left: 0.5em;
}

@for $i from 0 through 6 {
  .left-#{$i} {
    margin-left: #{$i}em;
  }
}


