<table class="table table-hover">
    <thead>
    <tr>
        <th><input type="checkbox" [(ngModel)]="checkAll" (click)="toggleAll(checkAll)"></th>
        <th>Date</th>
        <th>Category</th>
        <th>Source</th>
        <th>Target</th>
        <th>Flows</th>
        <th>Status</th>
        <th>Quick actions</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let alertItem of alertTable"
        [class.confirmed]="alertItem.status == 1"
        [class.false-positive]="alertItem.status == 2"
        [class.new-alert]="alertItem.status == 3">
        <td><input type="checkbox"  (change)="toggleCheckedId($event)" [value]="alertItem.id" [ngModel]="checkAll"></td>
        <td>{{alertItem.date}}</td> <!-- date -->
        <td>{{alertItem.category}}</td> <!-- category -->
        <td>{{alertItem.source}}</td> <!-- source -->
        <td [innerHTML]="createTargetString(alertItem.target)"></td> <!-- target -->
        <td>{{alertItem.flows}}</td> <!-- flows -->
        <td>{{alertTypeToString(alertItem.status)}}</td> <!-- status -->
        <td><i class="fa fa-search-plus quick-action-btn" aria-hidden="true"></i>
            <i *ngIf="alertItem.status == 0 || alertItem.status == 3" class="fa fa-check quick-action-btn confirm"
               aria-hidden="true"></i>
            <i *ngIf="alertItem.status == 0 || alertItem.status == 3" class="fa fa-times quick-action-btn reject"
               aria-hidden="true"></i>
        </td>
        <td><a class="btn btn-secondary" href="#">Show related flows</a></td>
    </tr>
    </tbody>
</table>
