<div class="row">
    <div class="col-sm-12 col-md-7">
        <textarea class="filter-text-preview" (click)="showCreateFilterDialog()" disabled></textarea>
    </div>
    <div class="col-sm-12 col-md-5">
        <label>
            Start at
            <input type="datetime-local">
        </label><br>
        <label>
            End at
            <input type="datetime-local">
        </label>
    </div>
</div>
<div class="row">
    <div class="filter-toolbar">
        <div class="float-left">
            <button class="btn btn-secondary mr-2" (click)="showCreateFilterDialog()">Create filter</button>
            <label for="filter-select">Load filter</label>
            <select id="filter-select">
                <option disabled selected>No saved filters</option>
            </select>
        </div>
        <div class="float-right">
            <button class="btn btn-primary">Apply filter</button>
        </div>


    </div>
</div>

<filter-create [showDialog]="createFilterShown"
               (dialogClosed)="hideCreateFilterDialog()"
               (filterRulesChanged)="delegateFilterChange($event)"></filter-create>
